body {
    background-color:black;
    color:whitesmoke;
    font-family: arial, sans-serif;
    margin:0;
}
body {
    text-align: center;
}
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
}
header {
    text-align: center;
    padding: 30px;
}
button {
    cursor: pointer;
}
button:hover {
    background-color: rgba(6, 121, 153, 0.86);
}
.hero {
    height: 600px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    animation:carSlideshow 20s infinite;
}
@keyframes carSlideshow {
    0% {
        background-image:url("images/image 1.png")
    }
    33% {
        background-image:url("images/image 2.png")
    }
    66% {
        background-image:url("images/image 3.png")
    }
    100% {
        background-image:url("images/image 4.png")
    }
}
  .hero-content {
text-align: center;
color:white;
background-color: rgba(0,0,0,0.5);
padding: 30px;
border-radius: 10px;
}
    
